<!DOCTYPE html>
<html>
  <head>
    <title>Expos</title>
    <meta charset="utf-8"/>
    <style type="text/css">
        span {
            font-style: italic;
        }
        h1{
          text-align:center;
          color:#434343;
        }
        p{
          color:#434343;
          text-align:center;
        }
        body{
          background-color:#ede6df;
        }
        .vertical-center{
          display:flex;
          justify-content:center;
        }
        
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" ></script>
    <script src='/socket.io/socket.io.js'></script>
  </head>

  <body>
      <h1>Welcome to: Wendy</h1>

      <p>College got lonely so you joined a poetry club. People were mostly friendly. However, you didn’t get close to anyone in particular until Wendy.</p>

      <p>Although she was very quiet and very anxious, she seemed very sweet. It was tough since you joined later in the school year and everyone else was already close. At least Wendy seemed genuine and you got along well.</p>

      <p>However, one week, a member didn’t show up on meeting day, and a week later, their mysterious disappearance was reported on television.</p>

      <p>A month later, another member disappeared.</p>
      <p>Two months later, the third member disappeared.</p>
      <p>And then the fourth month, the last member disappeared.</p>

      <p> . . . </p>
      <p>This month, it’s just you and Wendy left in the club, and the meeting day is today.</p>
      <p>You have a suspicion of the culprit. So when you’re sure she’s gone, you sneak into Wendy’s dormitory to look for clues.</p>

      <p>Strangely, her room is completely bare, except for her schoolwork in her backpack, and snacks, and laptop. You have to find her secret, and she’s coming back soon. Hurry!</p>
       
       <p><span>. . . D I R E C T I O N S . . .</span></p>
       
       <p>Search for clues, discover secrets, and find out what she's been hiding from you.</p>
      
      </div>

        <div class="vertical-center">
          <button onclick="document.location='home.html'">S T A R T</button>
        </div>
        <script>
          let ident;

          let socket = io();
          //Get message from server.
          socket.on('welcome', function(data) {
                ident = data.id;
                console.log(ident);
          });
        </script>
        
  </body>
</html>

