<!DOCTYPE html>
<html>
  <head>
    <title>Resolution</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>

  

  <body>
    <style type="text/css">
        span {
            font-style: italic;
        }
        body {
          background-color: #ede6df;
          background-repeat: no-repeat;
          background-size:cover;
        }
        p{
          text-align:center;
        }
        a{
          text-align:center;
        }

         

    </style>

      <h1></h1>
       

       <p>You call the cops. You escape the dorms barely in time. Soon, Wendy is found and taken in by police for further questioning.</p>

       <p>You've given them the evidence on Wendy's laptop, telling them what you managed to figure out about her.</p>

       <p>You're not sure if you made the right decision, but better be her before another person is lost right . . ?</p>
      
      <a href="expos.html">
        <h1>Replay</h1>
      </a>
        
        


  </body>
</html>



